
.seccionFormulario{
    margin-left: 20%;
    margin-right: 20%;
}


.carousel-caption {
    right: 5%;
    text-align: right;
    max-width: 400px;
    left: auto;
    padding: 5px;
    top: 40%;
    font-size: 100%;
    
}


.image-opacity{
    filter: brightness(50%);
}
.nav-item{
    padding-right: 0px;
    padding-left: 0px;
}

.color-footer{
    background-color: lightseagreen;

}